<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h1>Checkout</h1>
        <h4>Your Total: </h4>
        <form action="" method="post" id="checkout-form">
            <input type="text" id="name" class="form-control" placeholder="Name" required>
            <input type="text" id="address" class="form-control" placeholder="Address" required>
            <input type="text" id="card-name" class="form-control" placeholder="Card Holder name" required>
            <input type="text" id="card-number" class="form-control" placeholder="Credit Card Number" required>
            <input type="text" id="card-expiry-month" class="form-control" placeholder="Expiration Month" required>
            <input type="text" id="card-expiry-year" class="form-control" placeholder="Expiration Year" required>
            <input type="text" id="card-cvv" class="form-control" placeholder="CVV" required>
            <button type="submit" class="btn btn-success">Buy now</button>
        </form>
    </div>
</div>